@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
}

.banner1, .banner2 {
    width: 100%;
    position: absolute;
    top: 2rem;
}

.pic {
    width: 100%;
    position: absolute;
    top: 2rem;
}

.text1 {
    position: absolute;
    top: 8rem;
    left: 8rem;
}

.text2 {
    position: absolute;
    top: 7rem;
    left: 8rem;
}

.ban1left{
    animation: left1 ;
    animation-duration: 1.5s;
}

.ban2left{
    animation:left2;
    animation-duration: 1.5s;
}

.ban1right{
    animation: right1 ;
    animation-duration: 1.5s;
}

.ban2right{
    animation:right2;
    animation-duration: 1.5s;
}

@keyframes right1{
    0%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
}

@keyframes right2{
    0%{
        right: 0%;
    }
    100%{
        right: 100%;
    }
}

@keyframes left1{
    0%{
        right: 100%;
    }
    100%{
        right: 0%;
    }
}

@keyframes left2{
    0%{
        left: 0%;
    }
    100%{
        left: 100%;
    }
}



.icon{
    position: relative;
    top: 35rem;
    left: 5rem;
}

.contain{
    padding: 19.5rem;
}

.edge{
    padding: 3rem;
    position: absolute;
    width: 28rem;
    height: 17rem;
    background: white;
    top: 92rem;
    left: 8rem;
}

li{
    padding: 8px 0;
    color: #616161;
    font-size: 11px;
    line-height: 16px;
    cursor: pointer;
}

li:hover{
    text-decoration: underline;
}

.headr{
    color: #616161;
    padding: 8px 0;
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
}

.drop{
    width: 80rem;
}